html {
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    color: #343a40;
}

#portfolioA, #portfolioB, #portfolioC, #portfolioD, #portfolioE {
    width: 300px;
    height: auto;
}

#descriptionA, #descriptionB, #descriptionC, #descriptionD, #descriptionE{
    background-color: #343a40;
    color: white;
    padding-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
}
